* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
  width: 600px;
  padding: 10px;
}

.dashbord {
  width: 250px;
  height: 40px;
  padding: 7px;

  text-align: center;
  margin: 10px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
